<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <% include partials/_style %>
  <title>Tiny App</title>
</head>

<header>
  <%include ./partials/_header.ejs %>
</header>

<body>
  <div id="wrapper"> </br>
  <!-- Add your EJS code here -->
  <form method="POST" action="/urls/new">
    <h1> URLs:
      <input type="submit" value="New URL">
    </h1>
  </form>
  <h2>
  Access at /u/shortUrl or click the short URLs below!
  </h2>
  <!-- need a forEach to show keys here -->
  <% let counter = 0; %>
  <% for (key in urls) { %>
    <% if (urls[key].urlID === userID ) { %>
      <% counter += 1; %>
      <h3>
          <a href=<%="/u/"+key%>><%= key+"-->" %></a>
          <%= urls[key].url %>
        <form style="display: inline;" method="GET" action="/urls/<%= key %>">
          <input type="submit" value="Edit">
        </form>

        <form style="display: inline;" method="POST" action="/urls/<%= key %>/delete">
          <input type="submit" value="Delete">
        </form>
      </h3>
    <% } %>
  <% } %>
  <% if (counter === 0) { %>
    <h2 style="color: black">
      *Login to see your URLs or add one with 'New URL'*
    </h2>
  <% } %>
  </div>
</body>
</html>